@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
@mixin for-size($size) {
    @if $size == phone-only {
        @media (max-width: 599px) {
            @content;
        }
    } @else if $size == tablet-portrait-up {
        @media (min-width: 600px) {
            @content;
        }
    } @else if $size == tablet-landscape-up {
        @media (min-width: 900px) {
            @content;
        }
    } @else if $size == desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $size == big-desktop-up {
        @media (min-width: 1800px) {
            @content;
        }
    }
}
#standard-search::-webkit-search-cancel-button {
    position: relative;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    object-position: center;
    background: url("../images/close-24px.svg");
    object-fit: contain;
    cursor: pointer;
}
#head-section {
    width: 100%;
    position: relative;
    display: flex;
}
#head-section-image {
    width: 100%;
}
#head-section-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 120px;
}
#blue-section {
    background-color: #193f4c;
    padding: 40px 0 20px;
}
#get-book {
    padding: 40px 0 20px;
}
#carosell{
    @include for-size(phone-only) {
        display: none
    }
    @include for-size(tablet-portrait-up) {
        display: none
    }
    @include for-size(desktop-up) {
        display: block
    }
}
#stepper{
    @include for-size(phone-only) {
        display: none
    }
    @include for-size(tablet-portrait-up) {
        display: none
    }
    @include for-size(desktop-up) {
        display: flex
    }
}
.infogr {
    display: grid;
    @include for-size(phone-only) {
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 80px 80px 80px;
    }
    @include for-size(tablet-portrait-up) {
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-template-rows: 80px 80px 80px;
    }
    @include for-size(desktop-up) {
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 80px 80px;
    }
    column-gap: 10px;
    row-gap: 15px;
   
    .s1 {
        @include for-size(phone-only) {
            grid-column: 1;
            grid-row: 1;
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 1;
            grid-row: 1;
        }
        @include for-size(desktop-up) {
            grid-column: 1;
            grid-row: 1;
        }
    }
    .a1 {
        @include for-size(phone-only) {
            display: none
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 2;
            grid-row: 1;
        }
        @include for-size(desktop-up) {
            grid-column: 1;
            grid-row: 2;
        }
    }
    .s2 {
        @include for-size(phone-only) {
            grid-column: 1;
            grid-row: 2;
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 3;
            grid-row: 1;
        }
        @include for-size(desktop-up) {
            grid-column: 2;
            grid-row: 2;
        }
    }
    .a2 {
        @include for-size(phone-only) {
            display: none
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 3;
            grid-row: 2;
        }
        @include for-size(desktop-up) {
            grid-column: 2;
            grid-row: 1;
        }
    }
    .s3 {
        @include for-size(phone-only) {
            grid-column: 1;
            grid-row: 3;
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 2;
            grid-row: 2;
        }
        @include for-size(desktop-up) {
            grid-column: 3;
            grid-row: 1;
        }
    }
    .a3 {
        @include for-size(phone-only) {
            display: none
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 1;
            grid-row: 2;
        }
        @include for-size(desktop-up) {
            grid-column: 3;
            grid-row: 2;
        }
    }
    .s4 {
        @include for-size(phone-only) {
            grid-column: 1;
            grid-row: 4;
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 1;
            grid-row: 3;
        }
        @include for-size(desktop-up) {
            grid-column: 4;
            grid-row: 2;
        }
    }
    .a4 {
        @include for-size(phone-only) {
            display: none
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 2;
            grid-row: 3;
        }
        @include for-size(desktop-up) {
            grid-column: 4;
            grid-row: 1;
        }
    }
    .s5 {
        @include for-size(phone-only) {
            grid-column: 1;
            grid-row: 5;
        }
        @include for-size(tablet-portrait-up) {
            grid-column: 3;
            grid-row: 3;
        }
        @include for-size(desktop-up) {
            grid-column: 5;
            grid-row: 1;
        }
    }
}

////////////////////////Calendar
